@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Zmień hasło";
}
@model SchoolEJournalWeb.Models.LoginDatum

@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
{
<div class="text-center">
    
    <div class="form-group">
            @Html.LabelFor(model => model.Password)
            @Html.PasswordFor(model => model.Password, new
            {
                @required = "required",
                @class= "form-control"
            })
    </div>
    <div class="form-group">
        <label for="password">Confirm password</label>
        <input type="password" id="password" class="form-control" required />
    </div>    
    <input class="btn btn-primary" type="submit" value="Change Password" />
</div>
}
