@{
	ViewData["Title"] = $"Oceny {(string)ViewData["SubjectName"]} ({(string)ViewData["ClassName"]})";
}

<h2>@($"Oceny {(string)ViewData["SubjectName"]} ({(string)ViewData["ClassName"]})")</h2>
@{
	@using SchoolEJournalWeb.ViewModels

	@Html.ActionLink("Nowa grupa ocen", "CreateNewGradeGroup", "Grade", routeValues: new { subjectId = (int)ViewData["SubjectId"] })

	List<TeacherGradeGroupView> gradeGroups = (List<TeacherGradeGroupView>)ViewData["GradeGroups"];

	<ul>
		@foreach(var item in gradeGroups)
		{
			<li>@item.GroupName - @Html.ActionLink("Zobacz", "InspectGradeGroup", "Grade", routeValues: new { groupId = item.GroupId, groupName = item.GroupName})</li>
		}
	</ul>
}
